body {
  font-family: "Schibsted Grotesk", Arial, Helvetica, sans-serif;
  color: #00120c;
  margin: 0rem;
}

a {
  color: #03432e;
  text-decoration: none;
}

a:visited {
  color: #00120c;
  text-decoration: none;
}

/** Top navigation*/
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

nav > * {
  margin-top: 0.5rem;
}

nav > *:nth-child(1) {
  margin-top: 0rem;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
}

.my-name {
  font-weight: 700;
}

.nav-option-list {
  margin: 1rem 0rem 0rem 0rem;
  padding: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-option {
  font-weight: 700;
  list-style-type: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  border: 2px solid transparent;

}

.nav-option:hover {
  border: 2px solid #03432e;
  transition: 0.2s;
  box-shadow: -4px 4px #03432e;
  transform: translate(2px, -2px);
}

.nav-option-list a {
  color: #03432e;
  margin-left: 0.5rem;
}

.nav-option-list a:nth-child(1) {
  margin-left: 0rem;
}

.selected-nav-option {
  border: 2px solid #03432e;
  box-shadow: -4px 4px #03432e;
}

/** Main content*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 1rem 4rem 1rem;
  min-height: 80vh;
  padding: 0rem 1rem;
}

main #feature-card {
  background-color: #f1f2f3;
  border-radius: 4px;
  box-shadow: -16px 16px #03432e;
  border: 2px solid #03432e;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 3rem;
}
main #feature-card:hover {
  box-shadow: -24px 24px #03432e;
  transition: .5s;
  transform: translate(5px, -5px);
}

@media screen and (min-width: 768px) {
  main #feature-card {
    width: 30rem;
  }
}

main #feature-card a {
  font-size: 1.875rem;
  text-decoration: underline;
}

main #feature-card img {
  border-radius: 2px;
  width: 100%;
  height: 100%;
  margin-bottom: 0.5rem;
}

main #feature-card h2 {
  font-size: 1.875rem;
  text-decoration: underline;
  margin: 0.5rem auto;
}

main #feature-card p {
  line-height: 1.75rem;
}

main p {
  line-height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

main p a {
  color: #088058;
}

@media screen and (min-width: 768px) {
  main p {
    width: 30rem;
  }
}

main a {
  text-decoration: underline;
}

main a:hover {
  color: #03432e;
}


/** Footer*/

footer {
  background-color: #03432e;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

footer .social-icon {
  height: 2rem;
}

footer > * {
  margin-left: 1rem;
}

footer > *:nth-child(1) {
  margin-left: 0rem;
}
