body {
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  color: #050505;
  padding: 0rem;
  margin: 0rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: #050505;
  text-decoration: none;
}

/** Top navigation*/
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

nav > * {
  margin-top: 0.5rem;
}

nav > *:nth-child(1) {
  margin-top: 0rem;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
}

.my-name {
  font-weight: 700;
}

.nav-option-list {
  width: 100%;
  padding: 0rem;
  margin: 1rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-option {
  list-style-type: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  margin-bottom: 0.5rem;
  border: 1px solid #050505;
}

.nav-option-list a {
  margin-left: 0.5rem;
}

.nav-option-list a:nth-child(1) {
  margin-left: 0rem;
}

.selected-nav-option {
  background-color: #050505;
  color: #f0f0f0;
}

/** Main content*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 1rem 4rem 1rem;
  min-height: 80vh;
}

main #feature-card {
  background-color: #f0f0f0;
  border-radius: 16px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  main #feature-card {
    width: 30rem;
  }
}

main #feature-card img {
  border-radius: 8px;
}

main #feature-card a {
  font-size: 1.875rem;
  text-decoration: underline;
}

main #feature-card img {
  width: 100%;
  height: 100%;
}

main #feature-card h2 {
  font-size: 1.875rem;
  text-decoration: underline;
}

main #feature-card p {
  line-height: 1.75rem;
}

main p {
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
}

@media screen and (min-width: 768px) {
  main p {
    width: 30rem;
  }
}

main a {
  text-decoration: underline;
}

/** Footer*/

footer {
  background-color: #050505;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

footer .social-icon {
  height: 2rem;
}

footer > * {
  margin-left: 1rem;
}

footer > *:nth-child(1) {
  margin-left: 0rem;
}
